
body{
  text-align: center;
  background-color: rgb(76, 76, 155);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

*{
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.login-section{
    position: relative; 
    margin:50px;
    color: white;
    padding:16px;
    right:0;
    align-items: center;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  float: left;
}
 
li a:hover {
  background-color: white;
}

li a {
  display: block;
  color: rgb(103, 173, 238);
  text-align: center;
  padding: 18px 110px;
  text-decoration: none;
  background-color: rgb(102, 102, 163);
}

/* CHATBOX
=============== */


.chatbox {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

.chatboximageheader {
  margin-right: 12px;
}


.chatboxbutton {
  text-align: right;
}


.sendbutton {
  padding: 10px;
  border: 5px;
  background: rgb(53, 14, 90);
  cursor: pointer;
  margin: 3px 2px;
  display: inline-block;
  color: rgb(241, 241, 241);
}

.chatboxheader {
  position: sticky;
  top: 0;
  background: rgb(0, 204, 255);
  color: rgb(27, 14, 14);
  
}

.chatboxmessage {

 display: flex;
 margin-top: auto;
 overflow-y: scroll;
 flex-direction: column-reverse;

}

.chatboxfooter {
  position: sticky;
  bottom: 0;
}

.chatboxsupport {
  background: rgb(231, 231, 231);
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}





.chatboxheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow:rgb(76, 76, 155) 
}

.chatboxfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 35px;
  background: rgb(0, 204, 255);
}

.chatboxfooter input{
  width: 100%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatboxbutton button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}